<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuite name="Test Directorio">
        <directory>./tests/testsCategoriaLibroDAO</directory> 
        <directory>./tests/testsLibroDAO</directory> 
                <directory>./tests/testsSoportesDAO</directory> 
    </testsuite>
    <php>
    </php>
</phpunit>
 
 
 